.App {
  font-family: "DINPro";
}

.app_title {
  width: 100%;
  height: 18px;
  font-family: DINPro;
  font-size: 18.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.97;
  letter-spacing: normal;
  text-align: left;
  color: var(--greyish-brown);
  margin: 49px 76px;

}

.infinite-scroll-component {
  margin : 0px 52px;
  display: flex;
  flex-wrap: wrap;
  overflow: unset !important;
}

@font-face {
  font-family: "DINPro";
  src: url("./assets/font/DINPro-Medium\ tr.ttf");
}

@font-face {
  font-family: "MyriadPro";
  src: url("./assets/font/MYRIADPRO-REGULAR.OTF");
}
